.ImageSliderContainer {
    height: 300px;
    width: 300px;
    position: relative;
    display: flex;
    align-items: center;
}
.ImageSliderContainer .LeftButton {
    position: absolute;
    display: inline-block;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    height: 300px;
}

.ImageSliderContainer .RightButton {
    position: absolute;
    right: 0px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    height: 300px;
}
.ImageSliderContainer .RightButton:hover,
.ImageSliderContainer .LeftButton:hover {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.Image {
    max-width: 300px;
    max-height: 300px;
}
