.InputAskPrice > input {
    text-align: end;
    margin-right: 5px;
}

.NewItemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NewItemContainer > * {
    margin: 10px;
}
